body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #444444;
    height: 100vh;
    overflow: hidden;
    background-color:#2d2a30;
    background-image: url(images/computer.jpg);
    background-size: cover;
    
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
   
    
  }
  .navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.navbar ul li:hover {
    background: #101010;
    cursor: pointer; 
    transition: background .5s;  
  }
  .navbar ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    transition: background .5s; 
  }
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}